body {
  background-color: whitesmoke;
  text-align: center;
}

.App {
  background-color: whitesmoke;
}

.content {
  padding: 10vh;
}

.navbar {
  text-align: center;
  width: 100%;
  padding: 44px 10px;
  background-color: #d3d8e7;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 11;
  position: relative;
}

p {
  margin-bottom: 30vh;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p.in-view {
  animation: fade 0.5s 0.5s both;
}

/*  

default stuff
  |
  |
  V
*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
